<app-encabezado></app-encabezado>
<h1>
  Nuevo elemento de zona
</h1>

<form
 [formGroup]="elementoZonaForm"
 (ngSubmit)="!elementoZonaForm.invalid && crearElementoZona(elementoZonaForm.value)"
>
  <div class="row">
    <div class="col col-6">
      <div class="form-group mx-sm-3 mb-2">
        <label for="id_zona">Zona</label>
        <select
          id="id_zona"
          class="form-control"
          formControlName="id_zona"
        >
          <option [ngValue]="null" [selected]="true">Seleccione una zona</option>
          <option *ngFor="let zona of zonasPropiedad" [ngValue]="zona.id">{{zona.nombre_zona}}</option>
        </select>
        <div
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="
            elementoZonaForm.get('id_zona')!.hasError('required') &&
            elementoZonaForm.get('id_zona')!.touched
          "
        >
          Contenido requerido
        </div>
        <div class="alert alert-info alert-dismissible fade show" *ngIf="zonasPropiedad.length === 0">
          Esta propiedad no tiene zonas registradas.
        </div>
      </div>

      <div class="form-group mx-sm-3 mb-2">
        <label for="nombre_elemento">Nombre elemento</label>
        <input
          novalidate
          id="nombre_elemento"
          class="form-control"
          formControlName="nombre_elemento"
          placeholder="Ej: Nevera"
        />
        <div
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="
            elementoZonaForm.get('nombre_elemento')!.hasError('required') &&
            elementoZonaForm.get('nombre_elemento')!.touched
          "
        >
          Contenido requerido
        </div>
        <div
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="elementoZonaForm.get('nombre_elemento')!.hasError('minlength')"
        >
          El contenido es muy corto, debe tener al menos dos caracteres.
        </div>
      </div>

      <div class="form-group mx-sm-3 mb-2">
        <label for="descripcion">Descripción (opcional)</label>
        <input
          novalidate
          id="descripcion"
          class="form-control"
          formControlName="descripcion"
          placeholder="Ej: Nevera de 400L"
        />
      </div>

      <div class="form-group mx-sm-3 mb-2">
        <label for="cantidad">Cantidad</label>
        <input
          novalidate
          type="number"
          min="1"
          id="cantidad"
          class="form-control"
          formControlName="cantidad"
          placeholder="Ej: 1"
        />
        <div
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="
            elementoZonaForm.get('cantidad')!.hasError('required') &&
            elementoZonaForm.get('cantidad')!.touched
          "
        >
          Contenido requerido
        </div>
        <div
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="elementoZonaForm.get('cantidad')!.hasError('min')"
        >
          La cantidad debe ser mayor o igual a 1.
        </div>
      </div>

      <div class="form-group mx-sm-3 mb-2">
        <label for="fecha_registro">Fecha de registro</label>
        <input
          novalidate
          type="datetime-local"
          id="fecha_registro"
          class="form-control"
          formControlName="fecha_registro"
        />
        <div
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="
            elementoZonaForm.get('fecha_registro')!.hasError('required') &&
            elementoZonaForm.get('fecha_registro')!.touched
          "
        >
          Contenido requerido
        </div>
      </div>

    </div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="!elementoZonaForm.valid">Crear</button>&nbsp;
  <button type="button" class="btn btn-danger ml-3" (click)="cancelarCrearElementoZona()">Cancelar</button>
</form>
