name: Angular CI

on:
  push:
    branches:
      - "feature/*"

permissions:
  contents: write
  pull-requests: write

jobs:
  job-pruebas:
    name: ejecutar pruebas
    runs-on: ubuntu-latest
    if: contains(github.event.head_commit.message, '[FINISHED]')
    steps:
      - name: checkout repo
        uses: actions/checkout@v4

      - name: Configurar node
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: 'npm'

      - name: Instalar dependencias
        run: npm ci

      - name: Ejecutar tests
        run: npm run test -- --watch=false --browsers=ChromeHeadless

  job-merge-develop:
    name: Merge automático con develop
    runs-on: ubuntu-latest
    needs: job-pruebas
    if: contains(github.event.head_commit.message, '[FINISHED]')
    steps:
      - name: Merge de feature a develop
        uses: tukasz/direct-merge-action@master
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          source-branch: ${{ github.ref_name }}
          target-branch: develop
          commit-message: "Merge automático: ${{ github.ref_name }} → develop"
